@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Great+Vibes&family=Pacifico&family=Playpen+Sans:wght@300&family=Shantell+Sans:ital,wght@1,300&display=swap');

#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}